.tracker{
  position: relative;
  background-color: red;


  transition: all 1s;
  transform: translateX(0%);
}

.tracker.entering{
  transform: translateX(-110%);
}


@keyframes leave {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(110%);  }
}
  .tracker.leaving{
    background-color: grey;
    animation: leave 1s forwards;
  }

#bar {
  position: absolute;
  background-color: blue;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50%;
}