body, html {
  background-color: #2e2e2e;
  height: 100vh;
}

.tracker{
  position: relative;
  background-color: red;

  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.MuiToggleButton-root{
  border: 1px solid black !important;
}

.MuiToggleButton-label{
  color: black;
}

@keyframes leave {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(250%);  }
}

.MuiDialog-paperScrollBody.intro-modal{
  text-align: center;
}

.MuiDialog-paperScrollBody.exercise-modal{
  height: 50vh;
  box-shadow: 0px 22px 35px -14px rgba(255,255,255,1),0px 48px 72px 6px rgba(255,255,255,1),0px 18px 92px 16px rgba(255,255,255,1);
  border-radius: 1em;
  transition: all 1s;
  transform: translateX(0%);
}
.MuiDialog-paperScrollBody.exercise-modal * {
  z-index: 10;
}
.MuiDialog-paperScrollBody.exercise-modal.leaving{
  background-color: grey;
  animation: leave 1.5s forwards;
}

.MuiDialog-paperScrollBody.exercise-modal.entering{
  transform: translateX(-250%);
}
#set-bar {
  position: absolute;
  background-color: grey;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 1em;
  height: 0%;
}
#rep-bar {
  position: absolute;
  background-color: grey;
  z-index: -2;
  right: 0;
  bottom: 0;
  width: 1em;
  height: 0%;
}

@keyframes fill {
  0% {
    height: 0%;
  }
  100% {
    height: 100%
  }
}

#breathing-bar {
  position: absolute;
  background-color: blue;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
}

#breathing-bar.breething {
  animation-name: breething;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#exercise-bar {
  position: absolute;
  background-color: grey;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0%;
}

#exercise-bar.breething {
  animation-name: breething;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes breething {
  0% {
    height: 0%;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}

#root {
  height: 100vh;
  padding-top: 1em;
  background-color: black
}

.left-label {
  justify-content: left !important;
}

.MuiTextField-root.white-input > label, .MuiTextField-root.white-input input {
  color: #ffffff !important;
  background-color: #2e2e2e;
  border-radius: 0.5em;
  font-size: 14pt;
}

.MuiPaper-root.black-paper {
  background-color: black;
  color: white;
}
.MuiTableCell-root.black-paper {
  background-color: black;
  color: white;
}

.MuiRadio-colorSecondary.Mui-checked{
  color: #ffffff !important;
}

.MuiRadio-root {
  color: #ffffff !important;
}

.MuiDialog-paperScrollBody.grey-modal {
  background-color: darkgrey;
  box-shadow: 0px 22px 35px -14px rgba(255,255,255,1),0px 48px 72px 6px rgba(255,255,255,1),0px 18px 92px 16px rgba(255,255,255,1);
  border-radius: 1em;
}


.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in 1s;
}

.fade-wait-height {
  transition: height 1s ease-in-out;
}